<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/226408a02c.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <!-- LOGO -->
        <div class="contenedor-logo">
            <img src="/img/logo_360.png" alt="logo">

            <!-- BOTON MENU-->
            <button>
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- MENU -->
        <div class="contenedor-menu">
            <nav>
                <ul>
                    <li><a href="">smartphone</a></li>
                    <li><a href="">tablets</a></li>
                    <li><a href="">computadoras</a></li>
                </ul>
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">regristro</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main class="home">

        <!-- PRODUCTOS -->

        <div class="contenedor-productos">
            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-01_360.jpg" alt="phone-01">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>

            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-02_360.jpg" alt="phone-02">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>

            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-03_360.jpg" alt="phone-03">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>

            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-01_360.jpg" alt="phone-01">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>

            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-02_360.jpg" alt="phone-02">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>

            <article class="contenedor-prod-individual">
                <img src="/img/img-phone-03_360.jpg" alt="phone-03">
                <div class="info">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo officiis doloremque praesentium
                        molestiae id necessitatibus omnis repudiandae ad, ex natus? Dolorem voluptatem praesentium animi
                        necessitatibus aspernatur minima nobis officiis numquam.
                    </p>
                    <a href="">ver más</a>
                </div>
            </article>
        </div>
    </main>

    <aside>

        <!-- SECCION TUTORIALES-->

        <section class="contenedor-tutoriales">
            <h3>tutoriales</h3>

            <article class="contenedor-tuto">
                <img src="/img/aside-01_360.jpg" alt="titulo del tutorial de reparacion">
                <h5>titulo del tutorial de reparacion</h5>
            </article>

            <article class="contenedor-tuto">
                <img src="/img/aside-02_360.jpg" alt="titulo del tutorial de reparacion">
                <h5>titulo del tutorial de reparacion</h5>
            </article>

            <article class="contenedor-tuto">
                <img src="/img/aside-03_360.jpg" alt="titulo del tutorial de reparacion">
                <h5>titulo del tutorial de reparacion</h5>
            </article>

            <article class="contenedor-tuto">
                <img src="/img/aside-04_360.jpg" alt="titulo del tutorial de reparacion">
                <h5>titulo del tutorial de reparacion</h5>
            </article>

        </section>

    </aside>

    <!-- SECCION PUBLICIDAD-->

    <section class="publicidad">
        <h3>publicidad</h3>
    </section>

    <div class="contenedor-imgs-publi">
        <img src="/img/ad-01_360.jpg" alt="ad-01">
        <img src="/img/ad-02_360.jpg" alt="ad-02">
    </div>

</body>

</html>