<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="" alt="">
            <button>barras</button>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="">smartphones</a></li>
            <li><a href="">tablets</a></li>
            <li><a href="">computadoras</a></li>
        </ul>
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/register">registro</a></li>
        </ul>
    </nav>

    <main class="home">

        <article>
            <img src="" alt="iphone 1">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>

        <article>
            <img src="" alt="iphone 2">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>

        <article>
            <img src="" alt="iphone 3">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>

        <article>
            <img src="" alt="iphone 4">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>

        <article>
            <img src="" alt="iphone 5">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>

        <article>
            <img src="" alt="iphone 6">
            <div>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequatur.</p>
                <a href="">ver más</a>
            </div>
        </article>
    </main>

    <aside>

        <section>
            <h3>Tutoriales</h3>
            <article>
                <img src="" alt="">
                <h5>Titulo del tutorial de reparacion</h5>
            </article>
        </section>

        <section>
            <h3>Publicidad</h3>
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </section>

    </aside>
</body>

</html>