


/* 

HEADER

header: background color orange
padding 10 px

header div: display flex
justify content space between 
align items center

header div button: backgraound: none
border none:
color fffff 
border: solid 1px ffffff
border radius: 2px
padding 8px
line heigth: 
font size 1.2 rem

menu ul: margin top 10px 
text transform uppercase

GENERAL CSS 

body: font family lato 300 400 600 700 900 

*/