* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/bg-2_360.png");
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* 

GENERAL CSS 

body: font family lato 300 400 600 700 900 

*/